@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
#root{
    width: calc(100% - 40px);
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}
nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 40px;
    border: 1px solid rgb(73, 0, 107);
    align-items: center;
    justify-content: space-between;
}

ul, li{
    list-style: none;
    display: grid;
    grid-template-columns: 30% 40% 50%;
    align-items: center;
    font-size: 100%;
    color: grey;
    margin: auto;
    grid-column-gap:10px ;
    
    

}
li{
    margin:  0 20px 0 20px;
}


ul{
    display: flex;
    justify-content: center;
}



a{
    color: grey;
    text-decoration: none;
    display: flex;
    justify-content: center;
   
    
}

a:hover{
    color: rgb(51, 0, 117);
   
    
}

p{
    font-size: 12px;
    color: rgb(112, 112, 112);
}


h1, h2{
    color: rgb(50, 0, 129);
}

.choose{
    font-size: 18px;
    color: #83236b;
    margin: auto;
    font-weight: 600;
    margin-top: 20px;
}

.logo{
    width: 40px;
    height: 40px;
    margin-right: auto;
    background-image: url(../../assets/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-left: 20px;
    
    
    
}

.btn{
    width: 100px;
    height: 35px;
    background-color: rgb(116, 15, 116);
    color:white;
    display: flex;
    flex-direction: column;
    border: none;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
    margin-top: 30px;
}
.agregar{
    width: 100px;
    height: 35px;
    background-color: rgb(116, 15, 116);
    color:white;
    display: flex;
    flex-direction: column;
    border: none;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
    margin:10px auto 10px;
    
}
.agregar:hover{
    background-color: rgb(48, 0, 48);
    cursor:pointer;

}
.btnCarrito{
    width: 100%;
    height: 35px;
    background-color: rgb(116, 15, 116);
    color:white;
    display: none;
    border: none;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
   
}
.btnAgregar{
    width: 100%;
    height: 35px;
    background-color: rgb(116, 15, 116);
    color:white;
    border: none;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
   
}

.btnEliminar{
    width: 100px;
    height: 35px;
    background-color: rgb(116, 15, 116);
    color:white;
    border: none;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
   
}

.btnVaciar{
    width: 100%;
    height: 35px;
    background-color: rgb(15, 11, 71);
    color:white;
    border: none;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
    margin-top: 30px;
   
}

.btnFinalizar{
    width: 100%;
    height: 35px;
    background: rgb(124,32,118);
    background: linear-gradient(178deg, rgb(221, 5, 207) 0%, rgba(87,9,121,1) 35%, rgba(30,0,75,1) 100%);
    color:white;
    border: none;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
    margin-top: 30px;

}





.btnCantidad{
    width: 35px;
    height: 35px;
    background-color: rgb(38, 0, 109);
    color:white;
    display: flex;
    flex-direction: column;
    border: none;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
  

}

.contentCount {
    width:300px ;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
}

.contentCount p{
    width: 55px;
    text-align: center;
    
   
    
}
#detalleCarrito {
    color:rgb(116, 15, 116);
    margin-top: 20px;

}

.duplicados{
    color:rgb(116, 15, 116);
    margin-top: 20px;
    display: none;

}
#carritoVacio, #carritoLleno{
    color:rgb(255, 255, 255);
    margin-top: 20px;
    display: none;
    background-color: magenta;
    padding: 10px;
}
#carritoLleno{
    background-color: rgb(51, 0, 117);

}


.cards {
    height: 100%;    
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.cardDetail{
    height: 50%;
    width: 80%;    
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    

}

.details{
    height: 300px;    
    margin: 5px;
    display: flex;
    flex-direction:column;
    width: 50%;
    

}

.imgCards{
    width:  100%; 
    height: 100%;   
}
.date{
    color: blueviolet;
    font-weight: 700;
    font-size: 14px;
}

.imgDetails{
    width: 40%;
    height:50%;
    margin: 15px;

}


.cardsContain{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(182px, auto));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    box-sizing: border-box;
    margin:10px;
   
    
   

}

h3{
    color: mediumvioletred;
    margin: 30px 0 0 0;
}

h4{
    color: mediumvioletred;
    margin: 5px 0 15px 0;

}

h5{
    color:rgb(67, 57, 153); 
    font-size: 14px;

}

.cardsContain h3{   
    background-color:  rgba(33, 0, 37, 1);
    border-bottom: 1px solid rgb(155, 0, 155); 
    padding: 10px 0 10px 5px;
    font-weight: 300;
    color:white;
    font-size: 14px;
    text-transform: uppercase;
    margin:0;
    
}

.cardsContain p{
    font-size: 14px;
    color:rgb(86, 65, 105);
    margin: 10px auto 0;;
    
}

section {
    width: 100%;
    display:flex;
    flex-direction: column;
}



.swal-button {
    padding: 7px 19px;
    background-color: #340070;
    font-size: 14px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 0px;
    border: 0px solid #ffffff00;
    font-weight: 300;
    text-transform: uppercase;
  }
  .swal-button:hover {
    background-color: #a600e7;
    
    
  }
  .swal-button:focus {
    border: white;
    
    
  }

  .swal-modal {
  font-family: 'Roboto', sans-serif;
  }
  .swal-overlay {
    background-color: rgba(11, 0, 32, 0.603);
  }

  .contentCart{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .comprador{
    width: 100%;
    background-color: #ffe7fb;
    padding:20px;
    margin:20px 0 0 10px;
    
  }

  .comprador input{
    width: 100%;
    height: 25px;
    border: 1px solid rgb(201, 132, 201);
    border-radius: 3px;
    margin: 10px  0 10px 0;
  }

  .comprador input:focus{
    outline: none;    
    border: 1px solid rgb(255, 98, 208);
    border-radius: 3px;
    ;
  }

  input:-webkit-autofill-selected{
    background-color: #a600e7;
  }

  .comprador label{
    font-size: 12px;
    color:grey;
    
  }


